################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagusDungeonCrawler/.vs
/MagusDungeonCrawler/ConsoleApp1/obj
/MagusDungeonCrawler/ConsoleApp1/bin
/.vs