################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MagusDungeonCrawler/.vs/MagusDungeonCrawler/v17/.suo
/.vs
/ConsoleApp1/obj
/ConsoleApp1/bin